/* SASS */
/* VARIABLES */
/* MIXINS */
* {
  padding: 0;
  margin: 0;
  border: 0; }

img.alignright {
  float: right;
  margin: 0 0 1em 1em; }

img.alignleft {
  float: left;
  margin: 0 1em 1em 0; }

img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

a img.alignright {
  float: right;
  margin: 0 0 1em 1em; }

a img.alignleft {
  float: left;
  margin: 0 1em 1em 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

html, body {
  height: 100%;
  overflow-x: hidden; }

body {
  background-color: #e5e5e5;
  margin: 0;
  padding: 0; }

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -45px; }

header {
  height: 72px;
  background-color: #e7b223;
  background-image: url('../../images/header-tile.jpg');
  text-align: center; }
  header img {
    border: 0;
    padding: 0;
    margin: 0; }

nav {
  height: 49px;
  background-color: #30b069;
  background-image: url('../../images/menu-tile.jpg');
  text-align: center;
  overflow: hidden; }
  nav #menu {
    display: inline-block; }
    nav #menu #menu-home {
      background-repeat: no-repeat;
      float: left;
      padding-left: 5px;
      padding-right: 5px;
      /* STYLES */
      width: 74px;
      height: 49px;
      background-image: url('../../images/menu-home-n.jpg'); }
    nav #menu #menu-home:hover {
      background-image: url('../../images/menu-home-s.jpg'); }
    nav #menu #menu-blog {
      background-repeat: no-repeat;
      float: left;
      padding-left: 5px;
      padding-right: 5px;
      /* STYLES */
      width: 65px;
      height: 49px;
      background-image: url('../../images/menu-blog-n.jpg'); }
    nav #menu #menu-blog:hover {
      background-image: url('../../images/menu-blog-s.jpg'); }
    nav #menu #menu-portfolio {
      background-repeat: no-repeat;
      float: left;
      padding-left: 5px;
      padding-right: 5px;
      /* STYLES */
      width: 105px;
      height: 49px;
      background-image: url('../../images/menu-portfolio-n.jpg'); }
    nav #menu #menu-portfolio:hover {
      background-image: url('../../images/menu-portfolio-s.jpg'); }

#content {
  margin-left: auto;
  margin-right: auto;
  width: 640px; }
  #content #about {
    position: relative;
    min-height: 170px;
    color: #e5e5e5;
    background-color: #282b2a;
    padding: 30px 10px 30px 10px; }
  #content #about:before, #content #about:after {
    content: "";
    position: absolute;
    background: #282b2a;
    top: 0;
    bottom: 0;
    /* some huge width */
    width: 9999px; }
  #content #about:before {
    right: 100%; }
  #content #about:after {
    left: 100%; }

footer, #push {
  height: 45px; }

footer {
  background-color: #e7b223;
  background-image: url('../../images/footer-tile.jpg');
  text-align: center; }
