/* SASS */


/* VARIABLES */

$chloeLight: #e5e5e5;
$chloeDark: #282b2a;
$chloeGrey: #353b38;
$chloeGold: #e7b223;
$chloeCopper: #a07a13;
$chloeGreen: #30b069;

$headerHeight: 72px;
$menuHeight: 49px;
$footerHeight: 49px;
$mobileWidth: 640px;
$socialWidth: 131px;
$socialHeight: 200px;





/* MIXINS */

@mixin wordpressPostStyles {
  img.alignright {float:right; margin:0 0 1em 1em}
  img.alignleft {float:left; margin:0 1em 1em 0}
  img.aligncenter {display: block; margin-left: auto; margin-right: auto}
  a img.alignright {float:right; margin:0 0 1em 1em}
  a img.alignleft {float:left; margin:0 1em 1em 0}
  a img.aligncenter {display: block; margin-left: auto; margin-right: auto}
}

@mixin zeroPMB {
  padding: 0;
  margin: 0;
  border: 0;
}

@mixin centre {
  margin-left: auto;
  margin-right: auto;
}

@mixin menuButton {
  background-repeat: no-repeat;
  float: left;
  padding-left: auto;
  padding-right: auto;
}

@mixin socialButton {
  width: $socialWidth;
  height: $socialHeight;
  float: left;
  background-repeat: no-repeat;
  padding-left: 5px;
  padding-right: 5px;
}

@mixin fullWidth {
  // Enable background to extend to full-width
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 9999px;
}





/* STYLES */

@include wordpressPostStyles;

* {
  @include zeroPMB;
}

p {
  padding-bottom: 15px;
}

html, body {
  height: 100%;
  //overflow-x: hidden;
}

body {
  background-color: $chloeLight;
  margin: 0;
  padding: 0;
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -$footerHeight;
  overflow-x: hidden;
}

header {
  height: $headerHeight;
  background-color: $chloeGold;
  background-image: url('../../images/header-tile.jpg');
  text-align: center;

  img {
    border: 0;
    padding: 0;
    margin: 0;
  }
}

nav {
  height: $menuHeight;
  background-color: $chloeGreen;
  background-image: url('../../images/menu-tile.jpg');
  text-align: center;
  overflow: hidden;

  #menu {
    display: inline-block;

    #menu-home {
      @include menuButton;
      width: 74px;
      height: $menuHeight;
      background-image: url('../../images/menu-home-n.jpg');
    }
    #menu-home:hover {
      background-image: url('../../images/menu-home-s.jpg');
    }

    #menu-blog {
      @include menuButton;
      width: 65px;
      height: $menuHeight;
      background-image: url('../../images/menu-blog-n.jpg');
    }
    #menu-blog:hover {
      background-image: url('../../images/menu-blog-s.jpg');
    }

    #menu-portfolio {
      @include menuButton;
      width: 105px;
      height: $menuHeight;
      background-image: url('../../images/menu-portfolio-n.jpg');
    }
    #menu-portfolio:hover {
      background-image: url('../../images/menu-portfolio-s.jpg');
    }
  }
}

#content {
  @include centre;
  width: $mobileWidth;

  #about {
    position: relative;
    min-height: 170px;
    color: $chloeLight;
    background-color: $chloeDark;
    padding: 30px 10px 30px 10px;
  }
  #about:before, #about:after {
    @include fullWidth;
    background-color: $chloeDark;
  }
  #about:before {
    right: 100%;
  }
  #about:after {
    left: 100%;
  }

  #social-container {
    position: relative;
    height: 200px;
    background-image: url('../../images/social-tile.jpg');
    background-repeat: repeat-x;
    text-align: justify;

    #social {
      display: inline-block;

      #social-github {
        @include socialButton;
        background-image: url('../../images/social-github-n.jpg');
      }
      #social-github:hover {
        background-image: url('../../images/social-github-s.jpg');
      }

      #social-twitter {
        @include socialButton;
        background-image: url('../../images/social-twitter-n.jpg');
      }
      #social-twitter:hover {
        background-image: url('../../images/social-twitter-s.jpg');
      }

      #social-linkedin {
        @include socialButton;
        background-image: url('../../images/social-linkedin-n.jpg');
      }
      #social-linkedin:hover {
        background-image: url('../../images/social-linkedin-s.jpg');
      }

      #social-resume {
        @include socialButton;
        background-image: url('../../images/social-resume-n.jpg');
      }
      #social-resume:hover {
        background-image: url('../../images/social-resume-s.jpg');
      }
    }
  }
  #social-container:before, #social-container:after {
    @include fullWidth;
    background: $chloeGreen;
    background-image: url('../../images/social-tile.jpg');
    background-repeat: repeat-x;
  }
  #social-container:before {
    right: 100%;
  }
  #social-container:after {
    left: 100%;
  }
}

footer, #push {
  height: $footerHeight;
}

footer {
  background-color: $chloeGold;
  background-image: url('../../images/footer-tile.jpg');
  background-repeat: repeat-x;
  text-align: center;
}
