/* SASS */


/* IMPORT */

@import url(http://fonts.googleapis.com/css
            ?family=Abel);
@import url(http://fonts.googleapis.com/css
            ?family=Open+Sans:400italic,700italic,400,700);




/* VARIABLES */

$chloeTransparent: rgba(0,0,0,0);
$chloeWhite: #ffffff;
$chloeBlack: #000000;
$chloeLight: #e5e5e5;
$chloeDark: #282b2a;
$chloeGrey: #353b38;
$chloeGreyLight: #a9abaa;
$chloeGreyMedium: #888888;
$chloeGold: #e7b223;
$chloeCopper: #a07a13;
$chloeGreen: #30b069;
$chloeGreenLight: #4edf8e;

$fullWidth: 650px;
$smallWidth: 649px;
$headerHeight: 72px;
$menuHomeWidth: 74px;
$menuBlogWidth: 65px;
$menuPortfolioWidth: 105px;
$menuHeight: 49px;
$footerHeight: 49px;
$commWidth: 114px;
$commHeight: 200px;
$smallCommSize: 32px;
$pictureWidth: 123px;
$pictureHeight: 164px;
$tileHeaderSize: 5px 86px;
$tileMenuSize: 5px $menuHeight;
$tileCommSize: 5px 200px;
$tileFooterSize: 5px 45px;




/* MIXINS */

@mixin zeroPMB {
  padding: 0;
  margin: 0;
  border: 0;
}

@mixin centre {
  margin-left: auto;
  margin-right: auto;
}

@mixin trans {
  -webkit-transition: all 0.3s ease;
  -moz-transition:all 0.3s ease;
  -o-transition:all 0.3s ease;
  transition:all 0.3s ease;
}

@mixin menuButton {
  position: relative;
  display: block;
  background-repeat: no-repeat;
  float: left;
  padding-left: auto;
  padding-right: auto;
  background-position: 0px 0px;
}

@mixin menuButtonHome {
  width: $menuHomeWidth;
  height: $menuHeight;
  background-image: url('../../images/menu-home.png');
  background-size: $menuHomeWidth*2 $menuHeight;
}

@mixin menuButtonBlog {
  width: $menuBlogWidth;
  height: $menuHeight;
  background-image: url('../../images/menu-blog.png');
  background-size: $menuBlogWidth*2 $menuHeight;
}

@mixin menuButtonPortfolio {
  width: $menuPortfolioWidth;
  height: $menuHeight;
  background-image: url('../../images/menu-portfolio.png');
  background-size: $menuPortfolioWidth*2 $menuHeight;
}

@mixin commButton {
  position: relative;
  display: block;
  width: $commWidth;
  height: $commHeight;
  float: left;
  background-repeat: no-repeat;
  background-size: $commWidth*2 $commHeight;
  background-position: 0px 0px;
  margin-left: 6px;
  margin-right: 6px;
}

@mixin commButtonHover {
  position: absolute;
  display: block;
  width: $commWidth;
  height: $commHeight;
  background-repeat: no-repeat;
  background-size: $commWidth*2 $commHeight;
  background-position: -$commWidth 0px;
}

@mixin smallCommButton {
  position: relative;
  display: block;
  width: $smallCommSize;
  height: $smallCommSize;
  float: left;
  background-repeat: no-repeat;
  background-size: $smallCommSize*2 $smallCommSize;
  background-position: 0px 0px;
  margin-right: 6px;
}

@mixin smallCommButtonHover {
  position: absolute;
  display: block;
  width: $smallCommSize;
  height: $smallCommSize;
  background-repeat: no-repeat;
  background-size: $smallCommSize*2 $smallCommSize;
  background-position: -$smallCommSize 0px;
}

@mixin buttonTrans {
  @include trans;
  position: absolute;
  display: block;
  text-indent: -99999px;
  background-repeat: no-repeat;
  opacity: 0;
}

@mixin buttonTransHover {
  opacity: 1;
}

@mixin fullWidth {
  // Enable background to extend to full-width
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 9999px;
}

@mixin fontTitle {
  font-family: Abel, sans-serif;
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  letter-spacing: 1px;
}

@mixin fontCopy {
  font-family: 'Open Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

@mixin linkNormal {
  color: $chloeGreen;
  text-decoration: none;
}

@mixin linkHover {
  color: $chloeGreenLight;
}

@mixin imgAuto {
  max-width: 100%;
  height: auto;
}




/* STYLES */

img {
  @include trans;
}

img.alignright {
  float: right;
  margin: 0 0 18px 18px;
}
img.alignleft {
  float: left;
  margin: 0 18px 18px 0;
}
img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
a img.alignright {
  float: right;
  margin: 0 0 18px 18px;
}
a img.alignleft {
  float: left;
  margin: 0 18px 18px 0;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a, a:link {
  @include linkNormal;
  @include trans;
}
a:hover, a:active {
  @include linkHover;
}

h1 {
  @include fontTitle;
  font-size: 22px;
  color: $chloeCopper;
  padding-bottom: 10px;

  a, a:link {
    @include linkNormal;
  }
  a:hover, a:active {
    @include linkHover;
  }
}

h2 {
  @include fontTitle;
  font-size: 14px;
  color: $chloeCopper;
  padding-bottom: 15px;
}

p {
  padding-bottom: 15px;
}

* {
  @include zeroPMB;
}

html, body {
  height: 100%;
}

body {
  @include fontCopy;
  font-size: 14px;
  color: $chloeGrey;
  background-color: $chloeLight;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.error {
  text-align: center;
  padding: 20px;
  background-color: $chloeGreyLight;
  color: $chloeDark;
  margin-top: 40px;

  h1 {
    color: $chloeDark;
  }
}
.clearfix {
  clear: both;
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -$footerHeight;
  overflow-x: hidden;
}

header {
  position: relative;
  height: $headerHeight;
  background-color: $chloeGold;
  background-image: url('../../images/header-tile.png');
  background-size: $tileHeaderSize;
  background-position: center bottom;
  background-repeat: repeat-x;
  text-align: center;
  overflow-y: hidden;

  img {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    height: auto;
  }
}

nav {
  height: $menuHeight;
  background-color: $chloeGreen;
  background-image: url('../../images/menu-tile.png');
  background-size: $tileMenuSize;
  background-repeat: repeat-x;
  text-align: center;

  #menu {
    display: inline-block;
    min-width: 250px;

    #menu-home {
      @include menuButton;
      @include menuButtonHome;
      span {
        @include buttonTrans;
        @include menuButtonHome;
        background-position: -$menuHomeWidth 0px;
      }
      span:hover {
        @include buttonTransHover;
      }
    }

    #menu-blog {
      @include menuButton;
      @include menuButtonBlog;
      span {
        @include buttonTrans;
        @include menuButtonBlog;
        background-position: -$menuBlogWidth 0px;
      }
      span:hover {
        @include buttonTransHover;
      }
    }

    #menu-portfolio {
      @include menuButton;
      @include menuButtonPortfolio;
      span {
        @include buttonTrans;
        @include menuButtonPortfolio;
        background-position: -$menuPortfolioWidth 0px;
      }
      span:hover {
        @include buttonTransHover;
      }
    }
  }
}

#content {
  @include centre;
  max-width: $fullWidth;

  #about {
    position: relative;
    min-height: $pictureHeight;
    color: $chloeLight;
    background-color: $chloeDark;
    padding: 40px 10px 40px 10px;

    h1 {
      color: $chloeGold;
    }

    img {
      margin-top: 6px;
    }

    li {
      list-style-type: none;
    }
  }
  #about:before, #about:after {
    @include fullWidth;
    background-color: inherit;
  }
  #about:before {
    right: 100%;
  }
  #about:after {
    left: 100%;
  }

  #comm-container {
    position: relative;
    text-align: center;

    @media screen and (max-width: $smallWidth) {
      // properties for mobile version
      height: 40px;
      min-width: 200px;
      background-color: $chloeGreen;
      padding-top: 10px;
    }
    @media screen and (min-width: $fullWidth) {
      // properties for regular version
      height: $commHeight;
      background-color: $chloeGreen;
      background-image: url('../../images/s-tile.png');
      background-size: $tileCommSize;
      background-repeat: repeat-x;
    }

    #comm {
      position: relative;
      display: inline-block;

      #comm-email {
        //
        @media screen and (max-width: $smallWidth) {
          // properties for mobile version
          @include smallCommButton;
          background-image: url('../../images/small-email.png');
        }
        @media screen and (min-width: $fullWidth) {
          // properties for regular version
          @include commButton;
          background-image: url('../../images/s-email.png');
        }
        span {
          @include buttonTrans;
          @media screen and (max-width: $smallWidth) {
            // properties for mobile version
            @include smallCommButtonHover;
            background-image: inherit;
          }
          @media screen and (min-width: $fullWidth) {
            // properties for regular version
            @include commButtonHover;
            background-image: inherit;
          }
        }
        span:hover {
          @include buttonTransHover;
        }
      }

      #comm-github {
        //
        @media screen and (max-width: $smallWidth) {
          // properties for mobile version
          @include smallCommButton;
          background-image: url('../../images/small-github.png');
        }
        @media screen and (min-width: $fullWidth) {
          // properties for regular version
          @include commButton;
          background-image: url('../../images/s-github.png');
        }
        span {
          @include buttonTrans;
          @media screen and (max-width: $smallWidth) {
            // properties for mobile version
            @include smallCommButtonHover;
            background-image: inherit;
          }
          @media screen and (min-width: $fullWidth) {
            // properties for regular version
            @include commButtonHover;
            background-image: inherit;
          }
        }
        span:hover {
          @include buttonTransHover;
        }
      }

      #comm-twitter {
        //
        @media screen and (max-width: $smallWidth) {
          // properties for mobile version
          @include smallCommButton;
          background-image: url('../../images/small-twitter.png');
        }
        @media screen and (min-width: $fullWidth) {
          // properties for regular version
          @include commButton;
          background-image: url('../../images/s-twitter.png');
        }
        span {
          @include buttonTrans;
          @media screen and (max-width: $smallWidth) {
            // properties for mobile version
            @include smallCommButtonHover;
            background-image: inherit;
          }
          @media screen and (min-width: $fullWidth) {
            // properties for regular version
            @include commButtonHover;
            background-image: inherit;
          }
        }
        span:hover {
          @include buttonTransHover;
        }
      }

      #comm-linkedin {
        //
        @media screen and (max-width: $smallWidth) {
          // properties for mobile version
          @include smallCommButton;
          background-image: url('../../images/small-linkedin.png');
        }
        @media screen and (min-width: $fullWidth) {
          // properties for regular version
          @include commButton;
          background-image: url('../../images/s-linkedin.png');
        }
        span {
          @include buttonTrans;
          @media screen and (max-width: $smallWidth) {
            // properties for mobile version
            @include smallCommButtonHover;
            background-image: inherit;
          }
          @media screen and (min-width: $fullWidth) {
            // properties for regular version
            @include commButtonHover;
            background-image: inherit;
          }
        }
        span:hover {
          @include buttonTransHover;
        }
      }

      #comm-resume {
        //
        @media screen and (max-width: $smallWidth) {
          // properties for mobile version
          @include smallCommButton;
          background-image: url('../../images/small-resume.png');
        }
        @media screen and (min-width: $fullWidth) {
          // properties for regular version
          @include commButton;
          background-image: url('../../images/s-resume.png');
        }
        span {
          @include buttonTrans;
          @media screen and (max-width: $smallWidth) {
            // properties for mobile version
            @include smallCommButtonHover;
            background-image: inherit;
          }
          @media screen and (min-width: $fullWidth) {
            // properties for regular version
            @include commButtonHover;
            background-image: inherit;
          }
        }
        span:hover {
          @include buttonTransHover;
        }
      }
    }
  }
  #comm-container:before, #comm-container:after {
    @include fullWidth;
    background-color: inherit;
    background-image: inherit;
    background-size: inherit;
    background-repeat: inherit;
  }
  #comm-container:before {
    right: 100%;
  }
  #comm-container:after {
    left: 100%;
  }

  #small-comm-container {
    height: $smallCommSize;

    #small-comm {
      position: relative;
      display: inline-block;
      margin-bottom: 30px;

      #small-comm-email {
        @include smallCommButton;
        background-image: url('../../images/small-email.png');
        span {
          @include buttonTrans;
          @include smallCommButtonHover;
          background-image: inherit;
        }
        span:hover {
          @include buttonTransHover;
        }
      }

      #small-comm-twitter {
        @include smallCommButton;
        background-image: url('../../images/small-twitter.png');
        span {
          @include buttonTrans;
          @include smallCommButtonHover;
          background-image: inherit;
        }
        span:hover {
          @include buttonTransHover;
        }
      }

      #small-comm-github {
        @include smallCommButton;
        background-image: url('../../images/small-github.png');
        span {
          @include buttonTrans;
          @include smallCommButtonHover;
          background-image: inherit;
        }
        span:hover {
          @include buttonTransHover;
        }
      }

      #small-comm-linkedin {
        @include smallCommButton;
        background-image: url('../../images/small-linkedin.png');
        span {
          @include buttonTrans;
          @include smallCommButtonHover;
          background-image: inherit;
        }
        span:hover {
          @include buttonTransHover;
        }
      }
    }
  }

  #activities {
    padding: 30px 10px 40px 10px;

    .title {
      text-align: center;
      padding-bottom: 20px;
    }

    // Styles for Widgets contained on the Home Page
    li.widget {
      list-style-type: none;
      padding-bottom: 40px;

      img {
        margin-top: 5px;
      }

      a {
        //

        img {
          border-style: solid;
          border-width: 1px;
          border-color: $chloeLight;
        }

        img:hover {
          border-color: $chloeGreen;
        }
      }

      h1 {
        font-size: 18px;
        color: $chloeGrey;
        padding-bottom: 0;
      }

      h2 {
        color: $chloeGrey;
      }
    }
  }

  #blog-controls {
    position: relative;
    height: $menuHeight;
    background-color: $chloeGrey;
    color: $chloeLight;
    padding: 0px 10px 0px 10px;

      @media screen and (max-width: $smallWidth) {
        // properties for mobile version
        text-align: center;
      }
      @media screen and (min-width: $fullWidth) {
        // properties for regular version
        text-align: left;
      }

    a, a:link {
      color: $chloeLight;
    }
    a:hover, a:active {
      color: $chloeGreenLight;
    }

    .links {
      //
      @media screen and (max-width: $smallWidth) {
        // properties for mobile version
        display: none;
      }
      @media screen and (min-width: $fullWidth) {
        // properties for regular version
        padding-top: 13px;
      }

      span.nolink {
        color: $chloeDark;
        font-size: 16px;
        font-weight: bold;
        cursor: default;
      }

      a, a:link {
        font-size: 16px;
        font-weight: bold;
      }

      ul {
        //

        li {
          display: inline-block;
          padding-right: 20px;
        }
      }
    }

    li.widget_search {
      list-style-type: none;
      min-width: 230px;
      padding-top: 11px;

      @media screen and (max-width: $smallWidth) {
        // properties for mobile version
        @include centre;
        position: relative;
      }
      @media screen and (min-width: $fullWidth) {
        // properties for regular version
        position: absolute;
        right: 10px;
        top: 0px;
      }

      h2.widgettitle {
        display: none;
      }

      label {
        display: none;
      }

      input#s {
        width: 130px;
        height: 25px;
        padding: 0px 8px 0px 8px;
        color: $chloeLight;
        background-color: $chloeDark;
        outline: none;
      }

      input#searchsubmit {
        color: $chloeLight;
        background-color: $chloeDark;
        margin-left: -5px;
        height: 25px;
        padding: 0px 8px 0px 8px;
      }
      input#searchsubmit:hover {
        color: $chloeGreenLight;
        cursor: pointer;
      }
    }
  }
  #blog-controls:before, #blog-controls:after {
    @include fullWidth;
    background-color: inherit;
  }
  #blog-controls:before {
    right: 100%;
  }
  #blog-controls:after {
    left: 100%;
  }

  #blog {
    padding: 30px 10px 40px 10px;

    .post {
      padding-left: 15px;
      padding-right: 15px;

      p.wp-caption-text {
        font-size: 12px;
        color: $chloeGreyMedium;
      }
      p.wp-caption-text:hover {
        color: $chloeGrey;
      }

      h1 {
        padding-bottom: 0;
      }

      .radius_fix {
        padding-bottom: 20px;
      }

      .morelink {
        //

        a, a:link {
          font-weight: bold;
        }
      }

      img {
        @include imgAuto;
      }

      a, a:link {
        //

        img {
          border-style: solid;
          border-width: 1px;
          border-color: $chloeTransparent;
        }
        img:hover {
          border-color: $chloeGreen;
        }
      }

      ul {
        padding-left: 40px;
        padding-bottom: 20px;
      }

      blockquote {
        color: $chloeGreyMedium;
        padding: 15px 0px 15px 0px;
      }
      blockquote:hover {
        color: $chloeGrey;
      }
    }

    .separator {
      height: 1px;
      background-color: $chloeGold;
      margin: 40px 0px 40px 0px;
    }

    #pagination {
      height: 30px;

      .alignleft {
        float: left;
      }
      .alignright {
        float: right;
      }
    }
  }

  #portfolio {
    padding: 0px 10px 0px 10px;
    color: $chloeLight;

    li.widget {
      position: relative;
      min-height: 400px;
      padding: 40px 0px 40px 0px;
      list-style-type: none;

      ul {
        padding-bottom: 15px;

        li {
          list-style-type: disc;
          margin-left: 40px;
        }
      }

      h1 {
        color: $chloeGold;
      }

      h2 {
        padding-bottom: 40px;
      }

      span.h3 {
        font-size: 16px;
        color: $chloeWhite;
      }

      span.h4 {
        font-size: 12px;
        color: $chloeGold;
      }

      span.h5 {
        font-size: 12px;
        color: $chloeGold;
        padding: 40px 0px 0px 0px;
      }

      img {
        @include imgAuto;
      }

      .tool {
        padding-bottom: 3px;
      }

      .tool-last {
        padding-bottom: 40px;
      }

      .images-spacer {
        height: 20px;
      }

      .gallery {
        //

        dl.gallery-item {
          margin: 0;
        }
      }

      a, a:link {
        //

        img {
          border-style: solid;
          border-width: 1px;
          border-color: $chloeTransparent;
        }
        img:hover {
          border-color: $chloeGreen;
        }
      }

      blockquote {
        padding: 20px;
        color: $chloeGreyLight;
      }
    }
    li.widget:nth-child(odd) {
      background-color: $chloeGrey;
    }
    li.widget:nth-child(even) {
      background-color: $chloeDark;
    }
    li.widget:before, li.widget:after {
      @include fullWidth;
      background-color: inherit;
    }
    li.widget:before {
      right: 100%;
    }
    li.widget:after {
      left: 100%;
    }
  }
}

footer, #push {
  height: $footerHeight;
}

footer {
  background-color: $chloeGold;
  background-image: url('../../images/footer-tile.png');
  background-repeat: repeat-x;
  background-size: $tileFooterSize;
  text-align: center;

  img {
    max-width: 100%;
    height: auto;
  }
}
