/* SASS */


/* IMPORT */

@import url(http://fonts.googleapis.com/css
            ?family=Abel);
@import url(http://fonts.googleapis.com/css
            ?family=Open+Sans:400italic,700italic,400,700);




/* VARIABLES */

$chloeWhite: #ffffff;
$chloeBlack: #000000;
$chloeLight: #e5e5e5;
$chloeDark: #282b2a;
$chloeGrey: #353b38;
$chloeGreyLight: #a9abaa;
$chloeGreyMedium: #888888;
$chloeGold: #e7b223;
$chloeCopper: #a07a13;
$chloeGreen: #30b069;
$chloeGreenLight: #4edf8e;

$fullWidth: 650px;
$smallWidth: 649px;
$headerHeight: 72px;
$menuHomeWidth: 74px;
$menuBlogWidth: 65px;
$menuPortfolioWidth: 105px;
$menuHeight: 49px;
$footerHeight: 49px;
$socialWidth: 114px;
$socialHeight: 200px;
$smallSocialSize: 32px;
$pictureWidth: 123px;
$pictureHeight: 164px;
$tileHeaderSize: 5px 72px;
$tileMenuSize: 5px 49px;
$tileSocialSize: 5px 200px;
$tileFooterSize: 5px 45px;




/* MIXINS */

@mixin zeroPMB {
  padding: 0;
  margin: 0;
  border: 0;
}

@mixin centre {
  margin-left: auto;
  margin-right: auto;
}

@mixin menuButton {
  background-repeat: no-repeat;
  float: left;
  padding-left: auto;
  padding-right: auto;
}

@mixin socialButton {
  width: $socialWidth;
  height: $socialHeight;
  float: left;
  background-repeat: no-repeat;
  background-size: $socialWidth $socialHeight;
  padding-left: 6px;
  padding-right: 6px;
}

@mixin smallSocialButton {
  width: $smallSocialSize;
  height: $smallSocialSize;
  float: left;
  background-repeat: no-repeat;
  background-size: $smallSocialSize $smallSocialSize;
  padding-right: 6px;
}

@mixin fullWidth {
  // Enable background to extend to full-width
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 9999px;
}

@mixin fontTitle {
  font-family: Abel, sans-serif;
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

@mixin fontCopy {
  font-family: 'Open Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

@mixin linkNormal {
  color: $chloeGreen;
  text-decoration: none;
}

@mixin linkHover {
  color: $chloeGreenLight;
}

@mixin imgAuto {
  max-width: 100%;
  height: auto;
}

@mixin toolTipHeader {
  position: absolute;
  width: 220px;
  bottom: 35px;
  left: 5px;
  padding: 5px 15px;
  z-index: 98;
  border-radius: 5px;
  background-color: $chloeGreen;
  color: $chloeGrey;
  font-weight: bold;
}

@mixin toolTipFooter {
  position: absolute;
  width: 220px;
  bottom: 5px;
  left: 5px;
  padding: 5px 15px;
  z-index: 98;
  border-radius: 5px;
  background-color: $chloeGreen;
  color: $chloeGrey;
  font-weight: bold;
}



/* STYLES */

img.alignright {
  float: right;
  margin: 0 0 1em 1em;
}
img.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}
img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
a img.alignright {
  float: right;
  margin: 0 0 1em 1em;
}
a img.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a, a:link {
  @include linkNormal;
}
a:hover, a:active {
  @include linkHover;
}

h1 {
  @include fontTitle;
  font-size: 22px;
  color: $chloeCopper;
  padding-bottom: 10px;

  a, a:link {
    @include linkNormal;
  }
  a:hover, a:active {
    @include linkHover;
  }
}

h2 {
  @include fontTitle;
  font-size: 14px;
  color: $chloeCopper;
  padding-bottom: 15px;
}

p {
  padding-bottom: 15px;
}

.tooltip {
  //position: relative;
  display: inline;
}

* {
  @include zeroPMB;
}

html, body {
  height: 100%;
}

body {
  @include fontCopy;
  font-size: 14px;
  color: $chloeGrey;
  background-color: $chloeLight;
  margin: 0;
  padding: 0;
}

.error {
  text-align: center;
  padding: 20px;
  background-color: $chloeGreyLight;
  color: $chloeDark;
  margin-top: 40px;

  h1 {
    color: $chloeDark;
  }
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -$footerHeight;
  overflow-x: hidden;
}

header {
  position: relative;
  height: $headerHeight;
  background-color: $chloeGold;
  background-image: url('../../images/header-tile.png');
  background-size: $tileHeaderSize;
  background-repeat: repeat-x;
  text-align: center;

  img {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    height: auto;
  }
}

nav {
  height: $menuHeight;
  background-color: $chloeGreen;
  background-image: url('../../images/menu-tile.png');
  background-size: $tileMenuSize;
  background-repeat: repeat-x;
  text-align: center;

  #menu {
    display: inline-block;
    min-width: 250px;

    #menu-home {
      @include menuButton;
      width: 74px;
      height: $menuHeight;
      background-image: url('../../images/menu-home-n.png');
      background-size: $menuHomeWidth $menuHeight;
      background-repeat: no-repeat;
    }
    #menu-home:hover {
      background-image: url('../../images/menu-home-s.png');
    }

    #menu-blog {
      @include menuButton;
      width: 65px;
      height: $menuHeight;
      background-image: url('../../images/menu-blog-n.png');
      background-size: $menuBlogWidth $menuHeight;
      background-repeat: no-repeat;
    }
    #menu-blog:hover {
      background-image: url('../../images/menu-blog-s.png');
    }

    #menu-portfolio {
      @include menuButton;
      width: 105px;
      height: $menuHeight;
      background-image: url('../../images/menu-portfolio-n.png');
      background-size: $menuPortfolioWidth $menuHeight;
      background-repeat: no-repeat;
    }
    #menu-portfolio:hover {
      background-image: url('../../images/menu-portfolio-s.png');
    }
  }
}

#content {
  @include centre;
  max-width: $fullWidth;

  #about {
    position: relative;
    min-height: $pictureHeight;
    color: $chloeLight;
    background-color: $chloeDark;
    padding: 40px 10px 40px 10px;

    h1 {
      color: $chloeGold;
    }

    img {
      margin-top: 6px;
    }

    li {
      list-style-type: none;
    }
  }
  #about:before, #about:after {
    @include fullWidth;
    background-color: inherit;
  }
  #about:before {
    right: 100%;
  }
  #about:after {
    left: 100%;
  }

  #social-container {
    position: relative;
    text-align: center;

    @media screen and (max-width: $smallWidth) {
      // properties for mobile version
      height: 40px;
      min-width: 200px;
      background-color: $chloeGreen;
      padding-top: 10px;
    }
    @media screen and (min-width: $fullWidth) {
      // properties for regular version
      height: 200px;
      background-color: $chloeGreen;
      background-image: url('../../images/social-tile.png');
      background-size: $tileSocialSize;
      background-repeat: repeat-x;
    }

    #social {
      position: relative;
      display: inline-block;

      #social-email {
        //
        @media screen and (max-width: $smallWidth) {
          // properties for mobile version
          @include smallSocialButton;
          background-image: url('../../images/small-email-n.png')
        }
        @media screen and (min-width: $fullWidth) {
          // properties for regular version
          @include socialButton;
          background-image: url('../../images/social-email-n.png');
        }
      }
      #social-email:hover {
        //
        @media screen and (max-width: $smallWidth) {
          // properties for mobile version
          background-image: url('../../images/small-email-s.png')
        }
        @media screen and (min-width: $fullWidth) {
          // properties for regular version
          background-image: url('../../images/social-email-s.png');
        }
      }
      #social-email:hover:after {
        //
        @media screen and (max-width: $smallWidth) {
          @include toolTipHeader;
          content: "Send me an Email";
        }
      }

      #social-github {
        //
        @media screen and (max-width: $smallWidth) {
          // properties for mobile version
          @include smallSocialButton;
          background-image: url('../../images/small-github-n.png')
        }
        @media screen and (min-width: $fullWidth) {
          // properties for regular version
          @include socialButton;
          background-image: url('../../images/social-github-n.png');
        }
      }
      #social-github:hover {
        //
        @media screen and (max-width: $smallWidth) {
          // properties for mobile version
          background-image: url('../../images/small-github-s.png')
        }
        @media screen and (min-width: $fullWidth) {
          // properties for regular version
          background-image: url('../../images/social-github-s.png');
        }
      }
      #social-github:hover:after {
        //
        @media screen and (max-width: $smallWidth) {
          @include toolTipHeader;
          content: "Visit me on GitHub";
        }
      }

      #social-twitter {
        //
        @media screen and (max-width: $smallWidth) {
          // properties for mobile version
          @include smallSocialButton;
          background-image: url('../../images/small-twitter-n.png')
        }
        @media screen and (min-width: $fullWidth) {
          // properties for regular version
          @include socialButton;
          background-image: url('../../images/social-twitter-n.png');
        }
      }
      #social-twitter:hover {
        //
        @media screen and (max-width: $smallWidth) {
          // properties for mobile version
          background-image: url('../../images/small-twitter-s.png')
        }
        @media screen and (min-width: $fullWidth) {
          // properties for regular version
          background-image: url('../../images/social-twitter-s.png');
        }
      }
      #social-twitter:hover:after {
        //
        @media screen and (max-width: $smallWidth) {
          @include toolTipHeader;
          content: "Follow me on Twitter";
        }
      }

      #social-linkedin {
        //
        @media screen and (max-width: $smallWidth) {
          // properties for mobile version
          @include smallSocialButton;
          background-image: url('../../images/small-linkedin-n.png')
        }
        @media screen and (min-width: $fullWidth) {
          // properties for regular version
          @include socialButton;
          background-image: url('../../images/social-linkedin-n.png');
        }
      }
      #social-linkedin:hover {
        //
        @media screen and (max-width: $smallWidth) {
          // properties for mobile version
          background-image: url('../../images/small-linkedin-s.png')
        }
        @media screen and (min-width: $fullWidth) {
          // properties for regular version
          background-image: url('../../images/social-linkedin-s.png');
        }
      }
      #social-linkedin:hover:after {
        //
        @media screen and (max-width: $smallWidth) {
          @include toolTipHeader;
          content: "Add me on LinkedIn";
        }
      }

      #social-resume {
        //
        @media screen and (max-width: $smallWidth) {
          // properties for mobile version
          @include smallSocialButton;
          background-image: url('../../images/small-resume-n.png')
        }
        @media screen and (min-width: $fullWidth) {
          // properties for regular version
          @include socialButton;
          background-image: url('../../images/social-resume-n.png');
        }
      }
      #social-resume:hover {
        //
        @media screen and (max-width: $smallWidth) {
          // properties for mobile version
          background-image: url('../../images/small-resume-s.png')
        }
        @media screen and (min-width: $fullWidth) {
          // properties for regular version
          background-image: url('../../images/social-resume-s.png');
        }
      }
      #social-resume:hover:after {
        //
        @media screen and (max-width: $smallWidth) {
          @include toolTipHeader;
          content: "Download my Resume";
        }
      }
    }
  }
  #social-container:before, #social-container:after {
    @include fullWidth;
    background-color: inherit;
    background-image: inherit;
    background-size: inherit;
    background-repeat: inherit;
  }
  #social-container:before {
    right: 100%;
  }
  #social-container:after {
    left: 100%;
  }

  #small-social-container {
    height: $smallSocialSize;

    #small-social {
      display: inline-block;
      padding-bottom: 30px;

      #small-social-email {
        @include smallSocialButton;
        background-image: url('../../images/small-email-n.png');
      }
      #small-social-email:hover {
        background-image: url('../../images/small-email-s.png');
      }
      #small-social-email:hover:after {
        @include toolTipFooter;
        content: "Send me an email";
      }

      #small-social-twitter {
        @include smallSocialButton;
        background-image: url('../../images/small-twitter-n.png');
      }
      #small-social-twitter:hover {
        background-image: url('../../images/small-twitter-s.png');
      }
      #small-social-twitter:hover:after {
        @include toolTipFooter;
        content: "Follow me on Twitter";
      }

      #small-social-github {
        @include smallSocialButton;
        background-image: url('../../images/small-github-n.png');
      }
      #small-social-github:hover {
        background-image: url('../../images/small-github-s.png');
      }
      #small-social-github:hover:after {
        @include toolTipFooter;
        content: "Visit me on GitHub";
      }

      #small-social-linkedin {
        @include smallSocialButton;
        background-image: url('../../images/small-linkedin-n.png');
      }
      #small-social-linkedin:hover {
        background-image: url('../../images/small-linkedin-s.png');
      }
      #small-social-linkedin:hover:after {
        @include toolTipFooter;
        content: "Add me on LinkedIn";
      }
    }
  }

  #activities {
    padding: 30px 10px 40px 10px;

    // Styles for Recent Posts (3) Widget
    li#recent-posts-3 {
      height: 70px;
      list-style-type: none;
      margin-top: 20px;
      margin-left: 90px;

      h2.widgettitle {
        float: left;
      }
      ul {
        float: left;
        margin-left: 50px;
      }
    }

    .title {
      text-align: center;
      padding-bottom: 20px;
    }

    // Styles for Widgets contained on the Home Page
    li.widget {
      list-style-type: none;
      padding-bottom: 40px;

      img {
        margin-top: 5px;
      }

      h1 {
        font-size: 18px;
        color: $chloeGrey;
        padding-bottom: 0;
      }

      h2 {
        color: $chloeGrey;
      }
    }
  }

  #blog-controls {
    position: relative;
    height: $menuHeight;
    background-color: $chloeGrey;
    color: $chloeLight;
    padding: 0px 10px 0px 10px;

      @media screen and (max-width: $smallWidth) {
        // properties for mobile version
        text-align: center;
      }
      @media screen and (min-width: $fullWidth) {
        // properties for regular version
        text-align: left;
      }

    a, a:link {
      color: $chloeLight;
    }
    a:hover, a:active {
      color: $chloeGreenLight;
    }

    .links {
      //
      @media screen and (max-width: $smallWidth) {
        // properties for mobile version
        display: none;
      }
      @media screen and (min-width: $fullWidth) {
        // properties for regular version
        padding-top: 13px;
      }

      span.nolink {
        color: $chloeDark;
        font-size: 16px;
        font-weight: bold;
        cursor: default;
      }

      a, a:link {
        font-size: 16px;
        font-weight: bold;
      }

      ul {
        //

        li {
          display: inline-block;
          padding-right: 20px;
        }
      }
    }

    li.widget_search {
      list-style-type: none;
      min-width: 230px;
      padding-top: 11px;

      @media screen and (max-width: $smallWidth) {
        // properties for mobile version
        @include centre;
        position: relative;
      }
      @media screen and (min-width: $fullWidth) {
        // properties for regular version
        position: absolute;
        right: 10px;
        top: 0px;
      }

      h2.widgettitle {
        display: none;
      }

      label {
        display: none;
      }

      input#s {
        width: 130px;
        height: 25px;
        padding: 0px 8px 0px 8px;
        color: $chloeLight;
        background-color: $chloeDark;
        outline: none;
      }

      input#searchsubmit {
        color: $chloeLight;
        background-color: $chloeDark;
        margin-left: -5px;
        height: 25px;
        padding: 0px 8px 0px 8px;
      }
      input#searchsubmit:hover {
        color: $chloeGreenLight;
        cursor: pointer;
      }
    }
  }
  #blog-controls:before, #blog-controls:after {
    @include fullWidth;
    background-color: inherit;
  }
  #blog-controls:before {
    right: 100%;
  }
  #blog-controls:after {
    left: 100%;
  }

  #blog {
    padding: 30px 10px 40px 10px;

    .post {
      padding-left: 15px;
      padding-right: 15px;

      p.wp-caption-text {
        font-size: 12px;
        color: $chloeGreyMedium;
      }
      p.wp-caption-text:hover {
        color: $chloeGrey;
      }

      h1 {
        padding-bottom: 0;
      }

      .radius_fix {
        padding-bottom: 20px;
      }

      .morelink {
        //

        a, a:link {
          font-weight: bold;
        }
      }

      img {
        @include imgAuto;
      }

      a, a:link {
        //

        img {
          border-style: solid;
          border-width: 1px;
          border-color: $chloeWhite;
        }
        img:hover {
          border-color: $chloeGreen;
        }
      }

      ul {
        padding-left: 40px;
        padding-bottom: 20px;
      }

      blockquote {
        color: $chloeGreyMedium;
        padding: 15px 0px 15px 0px;
      }
      blockquote:hover {
        color: $chloeGrey;
      }
    }

    .separator {
      height: 1px;
      background-color: $chloeGold;
      margin: 40px 0px 40px 0px;
    }

    #pagination {
      height: 30px;

      .alignleft {
        float: left;
      }
      .alignright {
        float: right;
      }
    }
  }

  #portfolio {
    padding: 0px 10px 0px 10px;
    color: $chloeLight;

    li.widget {
      position: relative;
      min-height: 400px;
      padding: 40px 0px 40px 0px;
      list-style-type: none;

      ul {
        padding-bottom: 15px;

        li {
          list-style-type: disc;
          margin-left: 40px;
        }
      }

      h1 {
        color: $chloeGold;
      }

      h2 {
        padding-bottom: 40px;
      }

      span.h3 {
        font-size: 16px;
        color: $chloeWhite;
      }

      span.h4 {
        font-size: 12px;
        color: $chloeGold;
      }

      span.h5 {
        font-size: 12px;
        color: $chloeGold;
        padding: 40px 0px 0px 0px;
      }

      img {
        @include imgAuto;
      }

      .tool {
        padding-bottom: 3px;
      }

      .tool-last {
        padding-bottom: 40px;
      }

      .images-spacer {
        height: 20px;
      }

      .gallery {
        //

        dl.gallery-item {
          margin: 0;
        }
      }

      a, a:link {
        //

        img {
          border-style: solid;
          border-width: 1px;
          border-color: $chloeDark;
        }
        img:hover {
          border-color: $chloeGreen;
        }
      }
    }
    li.widget:nth-child(odd) {
      background-color: $chloeGrey;
    }
    li.widget:nth-child(even) {
      background-color: $chloeDark;
    }
    li.widget:before, li.widget:after {
      @include fullWidth;
      background-color: inherit;
    }
    li.widget:before {
      right: 100%;
    }
    li.widget:after {
      left: 100%;
    }
  }
}

footer, #push {
  height: $footerHeight;
}

footer {
  background-color: $chloeGold;
  background-image: url('../../images/footer-tile.png');
  background-repeat: repeat-x;
  background-size: $tileFooterSize;
  text-align: center;

  img {
    max-width: 100%;
    height: auto;
  }
}

#image-loader {
  display: none;
}
